* {
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
  }
  main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  main section {
    border: 1px solid black;
    box-shadow: 0px 1px 3px 3px gray;
    margin: 10px;
  }

  main .left_bar {
        .foto {
          position: relative;
          img {
              width: 100%;
          }

          h1 {
              position: absolute;
              bottom: 0;
              left: 0;
              padding: 15px;
              font-size: 30px;
          }
        }

        p {
            padding: ;
        }

        .text {
            padding: 10px;
            line-height: 2;
            color: gray;
        }


  }
  
  main .right_bar {
    overflow-y: scroll;
  }

  i {
    color: #009688
  }

  footer {
      background-color: #009688;
      color: white;
      text-align: center;
      padding: 20px;
      line-height: 2;
      i {
          color: white;
      }

      a {
          color: white;
      }
  }