* {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
}
main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
main section {
  margin: 10px;
}
main .left_bar {
  box-shadow: 0px 1px 3px 3px gray;
  margin-bottom: 50px;
}
main .left_bar .foto {
  position: relative;
}
main .left_bar .foto img {
  width: 100%;
}
main .left_bar .foto h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  font-size: 30px;
}
main .left_bar .text {
  padding: 10px;
  color: gray;
}
main .left_bar .adobe {
  background-color: #e4e4e4;
  border-radius: 20px;
}
main .left_bar .adobe p {
  text-align: center;
  background-color: #009688;
  color: white;
  width: 90%;
  border-radius: 20px;
}
main .left_bar .photo {
  background-color: #e4e4e4;
  border-radius: 20px;
}
main .left_bar .photo p {
  text-align: center;
  background-color: #009688;
  color: white;
  width: 80%;
  border-radius: 20px;
}
main .left_bar .illustrator {
  background-color: #e4e4e4;
  border-radius: 20px;
}
main .left_bar .illustrator p {
  text-align: center;
  background-color: #009688;
  color: white;
  width: 75%;
  border-radius: 20px;
}
main .left_bar .media {
  background-color: #e4e4e4;
  border-radius: 20px;
}
main .left_bar .media p {
  text-align: center;
  background-color: #009688;
  color: white;
  width: 50%;
  border-radius: 20px;
}
main .left_bar .eng {
  background-color: #e4e4e4;
  border-radius: 20px;
  line-height: 1.5;
}
main .left_bar .eng p {
  background-color: #009688;
  color: #009688;
  width: 100%;
  border-radius: 20px;
}
main .left_bar .spa {
  background-color: #e4e4e4;
  border-radius: 20px;
  line-height: 1.5;
}
main .left_bar .spa p {
  background-color: #009688;
  color: #009688;
  width: 50%;
  border-radius: 20px;
}
main .left_bar .ger {
  background-color: #e4e4e4;
  border-radius: 20px;
  line-height: 1.5;
}
main .left_bar .ger p {
  background-color: #009688;
  color: #009688;
  width: 25%;
  border-radius: 20px;
}
main .left_bar p {
  margin: 15px 0;
}
main .right_bar {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
main .right_bar > div {
  box-shadow: 0px 1px 3px 3px gray;
}
main .right_bar .top_bar {
  padding: 30px;
  line-height: 3;
}
main .right_bar .top_bar h2 {
  font-size: 40px;
}
main .right_bar .top_bar h4 {
  color: #009688;
}
main .right_bar .top_bar p {
  line-height: 1.5;
}
main .right_bar .top_bar b {
  color: white;
  background-color: #009688;
  padding: 5px 10px;
  border-radius: 3px;
}
main .right_bar .bottom_bar {
  padding: 30px;
  line-height: 3;
}
main .right_bar .bottom_bar h2 {
  font-size: 40px;
}
main .right_bar .bottom_bar h4 {
  color: #009688;
}
main .right_bar .bottom_bar p {
  line-height: 1.5;
}
main .right_bar .bottom_bar b {
  color: white;
  background-color: #009688;
  padding: 5px 10px;
  border-radius: 3px;
}
i {
  color: #009688;
  padding-right: 10px;
}
footer {
  background-color: #009688;
  color: white;
  text-align: center;
  padding: 20px;
  line-height: 2;
  margin-top: 16px;
}
footer i {
  color: white;
}
footer a {
  color: white;
}
